<section>
	<h1>USS Berners-Lee</h1>
	<div class="row">
		<div class="col-md-9">
			<img class="img-fluid" src="/images/ussbernerslee.jpg" alt="USS Berners-Lee" />
		</div>
		<div class="col-md-3">
			<blockquote>
				<p>We should work toward a universal linked information system, in which generality and portability are more important than fancy graphics techniques and complex extra facilities. The aim would be to allow a place to be found for any information or reference which one felt was important, and a way of finding it afterwards.</p>
				<footer>&mdash;Tim Berners-Lee in <cite title="Information Management: A Proposal">Information Management: A Proposal</cite></footer>
			</blockquote>
		</div>
		<div class="row mt-3">
			<div class="col-xs-12">
				<p>The USS Berners-Lee is a proud Excelsior class retrofit dedicated to advancing Starfleet's mission of discovery, innovation, and ease of communication. Commissioned on Stardate 90193.45, the mission of the USS Berners-Lee has been one of constant discovery and enlightenment.</p>
			</div>
		</div>
	</div>
</section>